body {
  font-family: sans-serif;
  background-color: #696969;
}

.all{
display: flex;
justify-content: flex-start;
align-items: center
height: 200px;
border: 2px red solid;
}
.enter{
height: 10px;
weight: 20px;
}


.done {
  text-decoration: line-through;
}